In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
tennis = pd.read_csv("/content/Play Tennis.csv")

In [ ]:
tennis

    Unnamed: 0  Day   Outlook Temprature Humidity    Wind Play_Tennis
0            0   D1     Sunny        Hot     High    Weak          No
1            1   D2     Sunny        Hot     High  Strong          No
2            2   D3  Overcast        Hot     High    Weak         Yes
3            3   D4      Rain       Mild     High    Weak         Yes
4            4   D5      Rain       Cool   Normal    Weak         Yes
5            5   D6      Rain       Cool   Normal  Strong          No
6            6   D7  Overcast       Cool   Normal  Strong         Yes
7            7   D8     Sunny       Mild     High    Weak          No
8            8   D9     Sunny       Cool   Normal    Weak         Yes
9            9  D10      Rain       Mild   Normal    Weak         Yes
10          10  D11     Sunny       Mild   Normal  Strong         Yes
11          11  D12  Overcast       Mild     High  Strong         Yes
12          12  D13  Overcast        Hot   Normal    Weak         Yes
13          13  D14      Rain       Mild     High  Strong          No

In [ ]:
outlook = tennis.groupby(['Outlook', 'Play_Tennis']).size()
temp = tennis.groupby(['Temprature', 'Play_Tennis']).size()
humidity = tennis.groupby(['Humidity', 'Play_Tennis']).size()
windy = tennis.groupby(['Wind', 'Play_Tennis']).size()
play = tennis.Play_Tennis.value_counts()

In [ ]:
print(temp)
print('------------------')
print(humidity)
print('------------------')
print(windy)
print('------------------')
print(outlook)
print('------------------')
print('play')
print(play)

Temprature  Play_Tennis
Cool        No             1
            Yes            3
Hot         No             2
            Yes            2
Mild        No             2
            Yes            4
dtype: int64
------------------
Humidity  Play_Tennis
High      No             4
          Yes            3
Normal    No             1
          Yes            6
dtype: int64
------------------
Wind    Play_Tennis
Strong  No             3
        Yes            3
Weak    No             2
        Yes            6
dtype: int64
------------------
Outlook   Play_Tennis
Overcast  Yes            4
Rain      No             2
          Yes            3
Sunny     No             3
          Yes            2
dtype: int64
------------------
play
Yes    9
No     5
Name: Play_Tennis, dtype: int64

In [ ]:
#to finding the probability of playing tennis, from given rainy data
(3/9)*(9/14)/(5/14)

0.6

In [ ]:
def bayestheorem():
    print('Posterior [P(c|x)] - Posterior probability of the target/class (c) given predictors (x)'),
    print('Prior [P(c)] - Prior probability of the class (target)'),
    print('Likelihood [P(x|c)] - Probability of the predictor (x) given the class/target (c)'),
    print('Evidence [P(x)] - Prior probability of the predictor (x))')

In [ ]:
def bayesposterior(prior, likelihood, evidence, string):
      print('Prior=', prior),
      print('Likelihood=', likelihood),
      print('Evidence=', evidence),
      print('Equation =','(Prior*Likelihood)/Evidence')
      print(string, (prior*likelihood)/evidence)

In [ ]:
# to find the posterior probability this time using contingency tables

ct = pd.crosstab(tennis['Outlook'], tennis['Play_Tennis'], margins = True)
print(ct)

Play_Tennis  No  Yes  All
Outlook
Overcast      0    4    4
Rain          2    3    5
Sunny         3    2    5
All           5    9   14

In [ ]:
ct.columns = ["no","yes","rowtotal"]
ct.index= ["overcast","rainy","sunny","coltotal"]
ct / ct.loc["coltotal","rowtotal"]

                no       yes  rowtotal
overcast  0.000000  0.285714  0.285714
rainy     0.142857  0.214286  0.357143
sunny     0.214286  0.142857  0.357143
coltotal  0.357143  0.642857  1.000000

In [ ]:
ct / ct.loc["coltotal"]

           no       yes  rowtotal
overcast  0.0  0.444444  0.285714
rainy     0.4  0.333333  0.357143
sunny     0.6  0.222222  0.357143
coltotal  1.0  1.000000  1.000000

In [ ]:
ct.div(ct["rowtotal"], axis=0)

                no       yes  rowtotal
overcast  0.000000  1.000000       1.0
rainy     0.400000  0.600000       1.0
sunny     0.600000  0.400000       1.0
coltotal  0.357143  0.642857       1.0

In [ ]:
bayesposterior(prior = ct.iloc[1,1]/ct.iloc[3,1],
               likelihood = ct.iloc[3,1]/ct.iloc[3,2],
               evidence = ct.iloc[1,2]/ct.iloc[3,2],
               string = 'Probability of Tennis given Rain =')

Prior= 0.3333333333333333
Likelihood= 0.6428571428571429
Evidence= 0.35714285714285715
Equation = (Prior*Likelihood)/Evidence
Probability of Tennis given Rain = 0.6

In [ ]:
pd.crosstab(tennis['Outlook'], tennis['Play_Tennis'], margins = True)

Play_Tennis  No  Yes  All
Outlook
Overcast      0    4    4
Rain          2    3    5
Sunny         3    2    5
All           5    9   14

In [ ]:
pd.crosstab(tennis['Temprature'], tennis['Play_Tennis'], margins = True)

Play_Tennis  No  Yes  All
Temprature
Cool          1    3    4
Hot           2    2    4
Mild          2    4    6
All           5    9   14

In [ ]:
pd.crosstab(tennis['Humidity'], tennis['Play_Tennis'], margins = True)

Play_Tennis  No  Yes  All
Humidity
High          4    3    7
Normal        1    6    7
All           5    9   14

In [ ]:
pd.crosstab(tennis['Wind'], tennis['Play_Tennis'], margins = True)

Play_Tennis  No  Yes  All
Wind
Strong        3    3    6
Weak          2    6    8
All           5    9   14

In [ ]:
pd.crosstab(index=tennis['Play_Tennis'],columns="count", margins=True)

col_0        count  All
Play_Tennis
No               5    5
Yes              9    9
All             14   14

In [ ]:
p_x_yes = ((2/9)*(2/9)*(3/9)*(3/9))
print('The probability of the predictors given playing tennis is', '%.3f'%p_x_yes)

The probability of the predictors given playing tennis is 0.005

In [ ]:
p_x_no = ((3/5)*(2/5)*(4/5)*(3/5))
print('The probability of the predictors given not playing tennis is ', '%.3f'%p_x_no)

The probability of the predictors given not playing tennis is  0.115

In [ ]:
yes = (9/14)
no = (5/14)
print('The probability of playing tennis is', '%.3f'% yes)
print('The probability of not playing tennis is', '%.3f'% no)

The probability of playing tennis is 0.643
The probability of not playing tennis is 0.357

In [ ]:
yes_x = p_x_yes*yes
print('The probability of playing tennis given the predictors is', '%.3f'%yes_x)

no_x = p_x_no*no
print('The probability of not playing tennis given the predictors is', '%.3f'%no_x)

The probability of playing tennis given the predictors is 0.004
The probability of not playing tennis given the predictors is 0.041

In [ ]:
if yes_x > no_x:
  print('The probability of playing tennis when the outlook is sunny, the temperature is hot, there is high humidity and windy is higher')
else:
  print('The probability of not playing tennis when the outlook is sunny, the temperature is hot, there is high humidity and windy is higher')

The probability of not playing tennis when the outlook is sunny, the temperature is hot, there is high humidity and windy is higher