In [ ]:
import numpy as np
import pandas as pd
from statsmodels.stats.anova import anova_lm

In [ ]:
df = pd.read_excel('/content/MLR-House Prize (1).xlsx')

In [ ]:
df[:10]

   Home    X1    X2   X3      Y
0     1  2192  16.4  2.5  505.5
1     2  3429  24.7  3.5  784.1
2     3  2842  17.7  3.5  649.0
3     4  2987  20.3  3.5  689.8
4     5  3029  22.2  3.0  709.8
5     6  2616  20.8  2.5  590.2
6     7  2978  17.3  3.0  643.3
7     8  3595  22.4  3.5  789.7
8     9  2838  27.4  3.0  683.0
9    10  2591  19.2  2.0  544.3

In [ ]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

#performing three-way ANOVA
model = ols("""Y ~ C(X1) + C(	X2) + C(X3) +
               C(X1):C(X2) + C(X1):C(X3) + C(X2):C(X3) +
               C(X1):C(X2):C(X3)""", data=df).fit()

In [ ]:
anova_table=anova_lm(model, typ=3)
anova_table

/usr/local/lib/python3.7/dist-packages/statsmodels/base/model.py:1834: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 700, but rank is 28
  'rank is %d' % (J, J_), ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/base/model.py:1834: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 140, but rank is 27
  'rank is %d' % (J, J_), ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/base/model.py:1834: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 125, but rank is 27
  'rank is %d' % (J, J_), ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/base/model.py:1834: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 3500, but rank is 27
  'rank is %d' % (J, J_), ValueWarning)

                         sum_sq      df            F    PR(>F)
Intercept          2.484456e+06     1.0  2941.559541  0.011737
C(X1)              2.089026e+06    28.0    88.334887  0.083975
C(X2)              1.035889e+06    25.0    49.059080  0.112385
C(X3)              2.801390e+06     5.0   663.360941  0.029468
C(X1):C(X2)        5.222566e+07   700.0    88.334887  0.083975
C(X1):C(X3)        8.910603e+06   140.0    75.357317  0.090858
C(X2):C(X3)        7.955896e+06   125.0    75.357317  0.090858
C(X1):C(X2):C(X3)  2.227651e+08  3500.0    75.357317  0.090858
Residual           8.446050e+02     1.0          NaN       NaN