In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
hp = pd.read_excel(r'/content/MLR-House Prize.xlsx')

In [ ]:
hp.shape

(30, 5)

In [ ]:
hp.head()

   Unnamed: 0    X1    X2   X3      Y
0           1  2192  16.4  2.5  505.5
1           2  3429  24.7  3.5  784.1
2           3  2842  17.7  3.5  649.0
3           4  2987  20.3  3.5  689.8
4           5  3029  22.2  3.0  709.8

In [ ]:
hp.tail()

    Unnamed: 0    X1    X2   X3      Y
25          26  2608  17.3  3.5  574.0
26          27  3572  29.0  4.0  863.8
27          28  2924  21.8  2.5  652.7
28          29  3614  25.5  3.5  844.2
29          30  2600  24.1  3.5  629.9

In [ ]:
hp.columns

Index(['Unnamed: 0', 'X1', 'X2', 'X3', 'Y'], dtype='object')

In [ ]:
X = hp.iloc[2:, :-1]
y = hp.iloc[2:, 4]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

regressor = LinearRegression()
regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)

test_set_r2 =r2_score(y_test,y_pred)

test_set_rmse = (np.sqrt(mean_squared_error(y_test, y_pred)))

print(test_set_rmse) #lower the value better the fit
print(test_set_r2) #if its closer to 1 then its a better fit

23.065582317577
0.8736406757227115